$section-padding : 6.25rem;
$section-padding-mobile : 3.125rem;

$margin-zero : 0;
$margin-5 :	0.3125rem;
$margin-10 :	0.625rem;
$margin-15 :	0.9375rem;
$margin-20 :	1.25rem;
$margin-25 :	1.5625rem;
$margin-30 :	1.875rem;
$margin-35 :	2.1875rem;
$margin-40 :	2.5rem;
$margin-50 :	3.125rem;
$margin-60 :	3.75rem;
$margin-70 :	4.375rem;
$margin-100 :	6.25rem;

$padding-zero : 0;
$padding-5 : 0.3125rem;
$padding-8 : 0.5rem;
$padding-10 : 0.625rem;
$padding-15 : 0.9375rem;
$padding-18 : 1.125rem;
$padding-20 : 1.25rem;
$padding-25 : 1.5625rem;
$padding-30 : 1.875rem;
$padding-32 : 2rem;
$padding-35 : 2.1875rem;
$padding-40 : 2.5rem;
$padding-50 : 3.125rem;
$padding-60 : 3.75rem;
$padding-70 : 4.375rem;

$width-full : 100%;
$height-full : 100%;

$d-block : block;
$d-inline :inline-block;
$d-none : none;

$v-align : middle;

$r-position : relative;
$f-position : fixed;
$a-position : absolute;
$s-position : static;

$heading-color : #222222;
$text-white : #ffffff;
$light-white : #f3f3f3;
$text-black :#000000;
$dark-gray : #48525c;
$text-gray : #444444;
$light-gray : #a9a4a4;
$theme-color : #3197ec;
$primary-color : #4b77c5;
$red-color : #ff0000;
$footer-color : #b3bece;

$bg-transparent : transparent;
$bg-white : #ffffff;
$bg-light-white : #f3f3f3;
$bg-black : #000000;
$bg-gray : #f4f3f3;
$bg-theme : #00cc79;

$font-12 : 0.75rem;
$font-14 : 0.875rem;
$font-15 : 0.9375rem;
$font-16 : 1rem;
$font-18 : 1.125rem;
$font-20 : 1.25rem;
$font-22 : 1.375rem;
$font-24 : 1.5rem;
$font-26 : 1.625rem;
$font-28 : 1.75rem;
$font-30 : 1.875rem;
$font-32 : 2rem;
$font-34 : 2.125rem;
$font-36 : 2.25rem;
$font-38 : 2.375rem;
$font-40 : 2.5rem;
$font-42 : 2.625rem;
$font-44 : 2.75rem;
$font-45 : 2.8125rem;
$font-48 : 3rem;
$font-50 : 3.125rem;
$font-60 : 3.75rem;
$font-90 : 5.625rem;

$normal-font : 'OpenSans-Regular';
$light-font : 'OpenSans-Light';
$semi-font : 'OpenSans-SemiBold';
$bold-font : 'OpenSans-Bold';
$extrabold-font : 'OpenSans-ExtraBold';
$msemibold-font : 'Montserrat-SemiBold';
$mmedium-font : 'Montserrat-Medium';
$proximanova-light-font : 'ProximaNova-Light';
$proximanova-regular-font : 'ProximaNova-Regular';
$proximanova-medium-font : 'ProximaNova-Medium';
$proximanova-semibold-font : 'ProximaNova-Semibold';
$proximanova-bold-font : 'ProximaNova-Bold';
$museoslab500-font : 'MuseoSlab-500';

$text-left : left;
$text-right : right;
$text-center : center;
$center : center;